# Apollo QA Automation - Environment Variables Template
# Copy this file to a new file named '.env' by using commands:

# cp .env.example .env (windows powershell macos linux)
# copy .env.example .env (windows cmd)

# The baseline URL of the target application under test
BASE_URL=https://practicesoftwaretesting.com

# Target application authorization credentials for positive test paths
EMAIL=admin@practicesoftwaretesting.com
PASSWORD=admin123